extends ../layoutCRUD

block content

  .masthead-usuario-create
    .container(style='padding-top: 140px;')
      .row.justify-content-md-center(style='padding-top: 30px;')
        .col-md-5.col-sm-6.col-12
          h2 Recuperación de password
          p Revise su cuenta de email, le llegarán allí las instrucciones de reseteo de password.
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br